.App{
  background-image: url("./background-img-1.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  min-height: 700px;
}

.add-Booking {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top:5%;
    background-color: #e7c8c062;
  }
  .add-Booking h2{
      text-align: center;
  }

  .add-Booking form {
    display: flex;
    flex-direction: column;
  }
  
  .add-Booking label {
    margin-bottom: 10px;
  }

  .add-Booking form #service{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f6f2f2;
    border-radius: 5px;
    font-size: 16px;
  }
  .add-Booking form label{
    text-align: left !important;
  }
  .add-Booking input[type="text"],
  .add-Booking input[type="date"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #fff8f8;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-Booking button {
    /* position: absolute;
    top:83%;
    left:46%; */
    padding: 10px 20px;
    background-color: #514134;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-Booking button:hover {
    background-color: #4e1d04;
  }
  /* #btnordr{
    position: absolute;
    top:115%;
  } */
  